html, body {
    position: relative;
    height: 100%;
    background-color: #3E3032;
}
body {
    background-color: #3E3032;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 78%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color:#fff;
    opacity: 1;
    background: rgba(159,130,98,0.5);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 8%;
}
.swiper-pagination-bullet-active {
    color:#fff;
    background:rgba(159,130,98,1);
    transform: scale(1.3);
}

.title{
    color: white;
    font-size: 28px;
}

.link{
    position: absolute;
    bottom: 55px;
    background: #9F8262;
    width:150px;
    color: white;
    padding: 9px;
    border-radius: 9px;
}
.link>a{
    text-decoration: none;
    color: white;
}
.item3{
    width: 58%;
}

